@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);
$blue: #53BDFF;
$green: #2EB933;
$drk-blue: darken($blue, 10%);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background: rgb(50,50,50);

}

a {
  color: $blue;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    color: lighten($blue, 10%);
  }
}
.hangman {
  font-family: "Londrina Solid", cursive;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
 }

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: $blue;
  font-weight: 300;
}

p {
  margin-bottom: 20px;
  color: gray;
  line-height: 1.3;
  
}
@keyframes letteranim {
  50% {
    transform: translateY(-5px) scale(1.05);
  }
}

.letter {
  display: inline-block;
  color: white;
  border-bottom: 5px solid $blue;
  margin: 0 10px;
  font-size: 50px;
  padding: 10px;
  transition: .5s;
  text-transform: uppercase;
  
  
}
.word {
  display: block;
  white-space: nowrap;
}

.correct {
  color: $blue;
  text-shadow: 1px 2px 0 $drk-blue;
  animation: letteranim .3s ease;
}

.guessForm {
  margin: 20px auto 0;
  input, .guessButton {
    font-family: "Londrina Solid", cursive;
  }
  input[type="text"] {
    outline: none;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #aaa;
    color: gray;
  }
  
  .guessButton {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: $blue;
    color: white;
    transition: .3s;
    margin: 10px 0;
    text-shadow: 1px 2px 0 $drk-blue;
    &:hover {
      background: $drk-blue;
    }
  }
}

.wrongLetters {
  font-size: 20px;
  p {
    margin-bottom: 10px;
  }
  li {
    display: inline-block;
    font-size: 40px;
    background:lighten(red,15%);
    text-shadow: 1px 2px 0 red;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    animation: letteranim .3s ease;
  }
}

.message {
  display: none;
  padding: 20px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
/*   height: 100%; */
  background: darken($drk-blue, 10%);
  z-index: 12402402;
  
  h1 {
    display: none;
    color: white;
    text-shadow: 1px 2px 0 #ccc;
  }
  
  .highlight {
    color: yellow;
    text-transform: capitalize;
  }
  
  .text {
    color: white;
    font-size: 30px;
    display: none;
    p {
      color: white;
    }
    .highlight {
      font-size: 40px;
    }
  }
  .muted {
    margin: 20px auto;
    color: lighten($blue, 10%);
  }
}

.button {
    display: none;
    margin: 10px 0;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: lighten($green, 5%);
    color: white;
    transition: .3s;
    text-shadow: 1px 2px 0 $green;
    font-family: "Londrina Solid", cursive;
    &:hover {
      background: lighten($green, 20%);
      
    }
}